<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Django</h1>
    <p>Hello <b> {{ name }}!</b></p>
    <p>{{name}}, you are {{ age }} years old.</p>
    <p>Your hobbies are: {{ hobbies|join:", "}}.</p>
    <h2>your fav colors are:</h2>
    <ul>
        {% for color in fav_color %}
            <li> {{ color }} </li>
        {% endfor %}
    </ul>


<h2>Student List</h2>
</ul>
<table border="2">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>marks</th>
        <th>Contact</th>
    </tr>
    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.marks }}</td>
        <td>{{ student.contact }}</td>
    </tr>
    {% endfor %}
</table>
<br>

<h2>Add Employee</h2>

<form method="POST">
    {% csrf_token %}

    <label>Name:</label>
    {{ form.name }}
    <p style="color:red;">{{ form.name.errors }}</p>

    <label>Age:</label>
    {{ form.age }}
    <p style="color:red;">{{ form.age.errors }}</p>

    <label>Email:</label>
    {{ form.email }}
    <p style="color:red;">{{ form.email.errors }}</p>

    <label>Salary:</label>
    {{ form.salary }}
    <p style="color:red;">{{ form.salary.errors }}</p>

    <label>Designation:</label>
    {{ form.designation }}
    <p style="color:red;">{{ form.designation.errors }}</p>

    {% if form.non_field_errors %}
        <div style="color:red;">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <button type="submit">Add Employee</button>
</form>

<hr>

<h2>Employee List</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Designation</th>
        <th>Actions</th>
    </tr>

    {% for emp in employees %}
    <tr>
        <td>{{ emp.name }}</td>
        <td>{{ emp.age }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.designation }}</td>
        <td>
        <a href="{% url 'update_employee' emp.id %}">Edit</a> |
        <a href="{% url 'delete_employee' emp.id %}">Delete</a>
            
        </td>
    </tr>
    {% endfor %}
</table>



</body>
</html>